<div class="card-columns m-3 mt-5">
  
  <!-- Local services -->
  {% for service in site.service %}

    {%- assign service_type  = "local" -%}
    {%- assign service_id    = service.name | slugify -%}
    {%- assign service_img   = service.image -%}
    {%- assign service_name  = service.name -%}
    {%- assign service_desc  = service.description -%}
    {%- assign service_tools = service.tools -%}

    {%- if service.external_url -%}
      {%- assign service_url = service.external_url -%}
    {%- else -%}
      {%- assign service_url = service.url | relative_url -%}
    {%- endif -%}

    {% include service/service-card.html %}

  {% endfor %}

</div>
