<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ service_url }}" class="projects card text-themed">
    {%- if service_img -%}
    <img id="{{ service_id }}-img" class="card-img-top" src="{{ service_img }}" alt="{{ service_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ service_id }}-name" class="card-title">
          {%- if service_type == "remote" -%}
          <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
          {%- endif -%}
        {{ service_name }}
      </h5>
      <p id="{{ service_id }}-desc" class="card-text">{{ service_desc }}</p>
      <p id="{{ service_id }}-tools" class="card-text">
        {%- for tool in service_tools -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
        {%- endfor -%}
      </p>
    </div>
  </a>
</div>
