---
layout: pdf
title: Resumes
permalink: /resumes/
#background: 
external-image: https://www.ajisetiawan.my.id/assets/images/icons/icon-128x128.png
description: About My Resumes
robots: false
---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100vh; /* 100% dari tinggi viewport */
      border: 0; /* Untuk menghilangkan border pada iframe */
    }
  </style>
  <script>
    // Menonaktifkan klik kanan
    document.addEventListener('contextmenu', function(e) {
      e.preventDefault();
    });

    // Menonaktifkan pintasan keyboard untuk alat pengembang
    document.addEventListener('keydown', function(e) {
      if (e.keyCode == 123) { // F12
          e.preventDefault();
      } else if (e.ctrlKey && e.shiftKey && e.keyCode == 73) { // Ctrl+Shift+I
          e.preventDefault();
      } else if (e.ctrlKey && e.shiftKey && e.keyCode == 74) { // Ctrl+Shift+J
          e.preventDefault();
      } else if (e.ctrlKey && e.keyCode == 85) { // Ctrl+U
          e.preventDefault();
      }
    });

    // Deteksi jika alat pengembang dibuka
    (function() {
      var isDevToolsOpen = false;
      var threshold = 160;
      setInterval(function() {
        if ((window.outerWidth - window.innerWidth) > threshold || (window.outerHeight - window.innerHeight) > threshold) {
          if (!isDevToolsOpen) {
            alert("Developer tools are open!");
            isDevToolsOpen = true;
          }
        } else {
          isDevToolsOpen = false;
        }
      }, 1000);
    })();
  </script>
</head>
<body oncontextmenu="return false;" style="overflow: hidden;">
  {% assign provider = site.author.resume.provider %}
  {% assign enabled = site.author.resume.enabled %}

{% if enabled == true %}
  {% if provider == "gdrive" %}
    <iframe src="{{ site.author.resume.gdrive.link }}" width="100%" height="100%"></iframe>
  {% elsif provider == "cvengineer" %}
    <iframe src="https://cvengineer.io/resumes/{{ site.author.resume.cvengineer.username }}" width="100%" height="100%"></iframe>
  {% elsif provider == "external" %}
    <iframe src="https://docs.google.com/gview?url={{ site.author.resume.external.link }}&embedded=true" width="100%" height="100%"></iframe>
  {% elsif provider == "custom" %}
    <iframe src="{{ site.author.resume.custom.link }}" width="100%" height="100%"></iframe>
  {% endif %}
{% else %}
  <p>Resume is not enabled.</p>
{% endif %}
</body>
</html>
