---
layout: default
title: Resumes
permalink: /resumes/
#background: 
description: About My Resumes
weight: 5
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100vh; /* 100% dari tinggi viewport */
      border: 0; /* Untuk menghilangkan border pada iframe */
    }
  </style>
</head>
<body>
{% assign provider = site.author.resume.provider %}
{% assign enabled = site.author.resume.enabled %}

{% if enabled == true %}
  {% if provider == "gdrive" %}
    <iframe src="{{ site.author.resume.gdrive.link }}" width="100%" height="200%"></iframe>
  {% elsif provider == "cvengineer" %}
    <iframe src="https://cvengineer.io/resumes/{{ site.author.resume.cvengineer.username }}" width="100%" height="100%"></iframe>
  {% endif %}
{% else %}
  <p>Resume is not enabled.</p>
{% endif %}
</body>
</html>
