<div id="breadcrumbs" class="text-muted">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a href="/" class="text-muted">Home</a>
  {% for crumb in crumbs offset: 1 %}
    {% if crumb contains '.html' %}
      {% assign crumb_array = crumb | split: '.' %}
      {% assign crumb = crumb_array[0] %}
    {% endif %}
    {% if crumb != '' and crumb | contains: '-' == false and crumb | contains: ' ' == false %}
      / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for i in (1..crumb_limit) %}{{ crumbs[i] }}/{% endfor %}">{{ crumb | capitalize }}</a>
    {% endif %}
  {% endfor %}
</div>
