<head>

  {% assign title = page.title | default: site.title | escape %}
  {% assign description = page.description | default: site.description | strip_html | strip_newlines | truncate: 160 %}

  {% if page.name and page.collection == 'projects' %}
    {% assign title = page.name | escape %}
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="Index, Follow"/>
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">

  <title>{{ title }} | Portofolio {{ site.title }}</title>
  <!-- Manifest file -->
  <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
  <!-- SEO -->
  <meta name="description" content="{{ page.description }}">
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% else %}
  <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}
  <!-- Favicon link original 
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
   -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/asset/favicon/site.webmanifest">
  
  <!-- Theme style -->
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  
  <!-- Animate CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/lightbox.css' | relative_url }}">
  
  <!-- Sitemap -->
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
  
  <!-- Atom/RSS Feed -->
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
</head>
