{%- for html_page in filtered_pages %}
  {%- if page.url contains html_page.url -%}
    {%- assign active_status = "active" -%}
  {%- else -%}
    {%- if html_page.title == "Home" and page.url != "/" -%}
      {%- assign active_status = "" -%}
    {%- else -%}
      {%- assign active_status = "" -%}
    {%- endif -%}
  {%- endif -%}

  {%- if html_page.url contains "/blog/" and html_page.url != "/blog/" -%}
    {%- continue -%}
  {%- endif -%}

  {%- if html_page.external_url -%}
    {%- assign url = html_page.external_url -%}
  {%- else -%}
    {%- assign url = html_page.url | relative_url -%}
  {%- endif -%}

  {%- assign icon_class = "" -%}

  {%- if html_page.title == "Blog" -%}
    {%- assign icon_class = "fas fa-book" -%}
  {%- elsif html_page.title == "About" -%}
    {%- assign icon_class = "fas fa-user" -%}
  {%- elsif html_page.title == "Projects" -%}
    {%- assign icon_class = "fas fa-briefcase" -%}
  {%- endif -%}

  {%- if icon_class == "" -%}
    <a class="nav-item nav-link {{ active_status }}" href="{{ url }}">{{ html_page.title }}</a>
  {%- else -%}
    <a class="nav-item nav-link {{ active_status }}" href="{{ url }}">
     <i class="{{ icon_class }}"></i> {{ html_page.title }}     
    </a>
  {%- endif -%}
{%- endfor %}
