
.search-box {
  box-shadow: none !important;
}

.post.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  padding: 15px;
  height: 100%;

  .card-footer {
    font-size: 14px;
    margin: 0 -15px -15px -15px;
    padding: 15px 35px;
  }
}
/* Image Post-body*/
.post-body img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sesuaikan nilai bayangan sesuai preferensi Anda */
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
.post-body img.half-width {
    width: 50%
}
@media screen and (min-width: 768px) {
    .post-body img {
        width:90%
    }

    .post-body img.half-width {
        width: 45%
    }
}

/* Start of Pagination */
.pagination-box-idle {
  border: 2px solid #eee;
  color: #888888;
}
.pagination-box-hit {
  border: 2px solid $btnColor;
  color: #ffffff;
  background-color: $btnColor;
}
.pagination-box {
  font-family: 'Verdana', 'Arial', 'Microsoft Yahei', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
.pagination-theme {
  font-family: 'Verdana', 'Arial', 'Microsoft Yahei', sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 14px;
  color: #888;
  align-items: center;
  a {
    text-decoration: none;

    &:hover {
      color: #ffffff;
      background-color: $btnColor;
      border: 2px solid $btnColor;
    }
  }
}
/* End of Pagination */

/* Tip */
.tip-block {
  background-image: linear-gradient(111.3deg, #eadeff 9.6%, #26b9fb 93.6%);
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 10px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
  font-size: 15px;
}
.tip-block a {
  background-color: #006bc1;
  padding: 2px 10px;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  transition: all .25s;
}
/* End of Tip */

/* Related Post */
.rect {
  border-top: 2px solid #90a1ff;
  border-bottom: 2px solid #90a1ff;
  padding-top: 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centering items in the container */
  text-decoration: none;
}

.rel-link {
  text-decoration: none; /* Remove underline from links */
}

.rel {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 200px;
  margin: 10px; /* Space between items */
  padding: 10px;
  border: 1px solid #ddd; /* Optional: border for better visualization */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: shadow for depth */
  transition: opacity 0.3s; /* Smooth transition for hover effect */
  opacity: 0.8;
  border-radius: 5px;
  text-decoration: none;
}

.rel:hover {
  opacity: 1;
  text-decoration: none;
}

@media (max-width: 600px) {
  .rel {
    width: 100%; /* Full width on small screens */
  }
}

/* End of Related Post */


/* Start of Span Tag*/
.signboard {
  margin-bottom: 20px;
  margin-right: 10px;

  a {
    padding: 6px 20px 6px 22px;
    font-size: 14px;
    border-radius: 40px;
    color: #ffffff;
    text-decoration: none;

    span {
      color: #ffffff;
      font-family: Roboto, sans-serif;
      vertical-align: super;
      font-size: 10px;
      padding-left: 2px;
    }

    @media screen and (max-width: $mobileW) {
      margin-top: 5px;
    }
  }

  &:hover {
    a {
      background-color: #e3e3e3;
      span {
        background-color: #e3e3e3;
      }
    }
  }
}

.signboard-archive {
  a {
    &:hover {
      color: $linkColor;
      span {
        color: $linkColor;
      }
    }
  }
}
.signboard-tag {
  a {
    font-family: Raleway, Arial, sans-serif;
    &:hover {
      color: #CB4335;
      font-weight: bold;
      span {
        color: #CB4335;
        font-weight: bold;
      }
    }
  }
}
.tag-label-pink {
  a {
    background-color: #F1948A;
    span {
      background-color: #F1948A;
    }
  }
}
.tag-label-red {
  a {
    background-color: #E74C3C;
    span {
      background-color: #E74C3C;
    }
  }
}
.tag-label-orange {
  a {
    background-color: #F39C12 !important;
    span {
      background-color: #F39C12 !important;
    }
  }
}
.signboard-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
/* End of Span Tag */

/* TTS*/
.highlighttts {
            display: inline;
        }

        .highlighttts:after {
            content: "";
            margin-right: -1.86px;
            border-right: 2px solid #19aee8;
            animation: kedip 1s linear infinite;
        }

        svg.icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            fill: #19aee8;
        }

        #toggle-play {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: inherit;
            border-radius: 50px;
            padding: 0 15px 0 10px;
            border: 1px solid #19aee8;
            color: #000;
            background: #fff;
        }

        @keyframes kedip {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
}
/* End of TTS */

/* Featured Image */
.feat-img {
    border-radius: 10px;
}
/*End of Featured Image*/
.post {
  .post-metadata {
    font-size: 14px;
    margin-top: -6px;
  }

  .post .kanan {
    float: right;
  }

  @media (max-width: 424px) {
    .post {
      font-size: 13px;
      padding: 0.2rem;
    }
  }
  .tag:hover {
    background-color: $primary;
    color: white !important;
  }
  footer {
    font-size: 10px;
    color: #6c757d;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-align: right;
    margin-top: 4em;
    margin-right: 2em;
  }
  h1, h2 {
    margin-top: 32px;
  }
  hr {
    background: $secondary;
  }
  img:not(.emoji) {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
  }
  .video {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 1rem;
    width: 100%;
    iframe {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline) {
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: $primary;
    }
    &::after {
      content: "";
      display: block;
      height: 0.15em;
      margin-top: -0.15em;
      width: 0;
      background: $primary;
      transition: width 0.35s;
    }
    &:hover::after {
      width: 100%;
    }
  }
  pre {
    background: $light;
    border: 1px solid #ddd;
    color: $dark;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: 1em 1.5em;
    display: block;
    page-break-inside: avoid;
    overflow: auto;
    word-wrap: break-word;
  }
  code.highlighter-rouge {
    background-color: $light;
    color: $dark;
    border-radius: 3px;
    margin: 0;
    padding: 0.2em 0.65em;
  }
  blockquote {
    border-left: 0.25em solid $primary;
    color: $secondary;
    padding: 0 1em;
  }
  table:not(.highlight) {
    display: block;
    overflow-x: auto;
    margin: 1rem 0;
    td {
      border: 1px solid #ddd;
      padding: 8px 16px;
    }
    th {
      @extend td;
      padding-top: 12px;
      padding-bottom: 12px;
      font-weight: 500;
      text-align: left;
      background-color: $primary;
      color: white;
    }
    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
