:root {
    --primary-color: #7779f3
}
.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

.nav-link,
.navbar-brand {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover::after {
    width: 100%;
  }
}

.nav-item.active {
  font-weight: bold;

  &::after {
    @extend .link-after;
    width: 100% !important;
  }
}

.navbar {
  background: white;
  box-shadow: 1px 2px 10px rgba(0,0,0,.1);
}

.navbar-brand {  
  margin-bottom: -4px;
  &::after {
    margin-top: -0.25em;
  /* */
        a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline) {
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: $primary;
    }

    &::after {
      content: "";
      display: block;
      height: 0.15em;
      margin-top: -0.15em;
      width: 0;
      background: $primary;
      transition: width 0.35s;
    }

    &:hover::after {
      width: 100%;
    }
  }
    /* */
  }
    
.site-favicon {
      display: inline-block;
      height: 42.56px;
      margin-right: 5px; }
    
 .navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0,0,0,.1)
}

.navbar.active .nav-link {
    color: #555
}

.navbar-nav .active {
    color: #fff
}

.navbar.active .navbar-nav .active {
    color: var(--primary-color)
}

.navbar.active .nav-link:focus,.navbar.active .nav-link:hover {
    color: var(--primary-color);
    text-decoration: none
}

.navbar.active .navbar-brand {
    color: var(--primary-color)
} 
}

#navigation {
  background: white;
  border-bottom: 0.0625rem solid #e5e5e5;
  position: fixed;
  width: 100%;
  z-index: 99;
}

#navigation .container {
  display: flex;
  align-items: center;
}

#navigation .container #menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

#navigation ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style: none;
}

#navigation .brand img {
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
}

#navigation .brand {
  font-size: 1.05rem;
  color: #777777;
  padding: 0.25rem 0.9rem 0.25rem 0;
}

#navigation ul li a {
  display: block;
  color: #777777;
  text-decoration: none;
  padding: 0.25rem 0.9rem;
}

#navigation .brand:hover,
#navigation ul li a:hover,
#navigation ul li.active a {
  color: #d9230f;
}

#navigation ul li svg {
  height: 1rem;
  fill: #777;
}
