$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;

$text-black: #343a40;
$text-black-2: #555658;
$text-white: rgba(white, .9);
$text-blue: #0054B8;

$rounded-borders: 15px;

/* Pagination */
$btnColor: #4183c4;

/* Span Tag */
$mobileW: 768px;
$smallMobileW: 480px;
$linkColor: #0366d6;
