/* Header Page Image */
.post-header-container {
    width: 100%;
    text-align: center
}

.site-header-container img.sticker,.post-header-container img.sticker {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: -3em;
    margin-bottom: -7.5em
}

.site-header-container.has-cover,.post-header-container.has-cover {
    color: #fff;
    box-shadow: rgba(0,0,0,0.3) 0px 5px 15px;
    text-shadow: 0 3px 5px rgba(0,0,0,0.67) !important;
    background-position: 50% 50%;
    background-size: cover
}

.site-header-container.has-cover .title,.post-header-container.has-cover .title {
    font-size: 2em
}

@media screen and (min-width: 768px) {
    .site-header-container.has-cover .title,.post-header-container.has-cover .title {
        font-size:2.985984em
    }
}

.site-header-container.has-cover .subtitle,.site-header-container.has-cover .info,.post-header-container.has-cover .subtitle,.post-header-container.has-cover .info {
    font-size: 1.2em
}

.site-header-container .scrim,.post-header-container .scrim {
    padding: 3em 1em
}

.site-header-container .scrim.has-cover,.post-header-container .scrim.has-cover {
    background-color: rgba(0,0,20,0.5);
    padding: 6em 1em
}
/* selection content */
::selection {
    background-color: #ebd705;
    color: black;
}
::-moz-selection {
    background-color: #ebd705;
    color: black;
}
/* Image Caption */
.page-image {
    position: relative;
    text-align: center;
    margin-top: 0.5px;
    margin-bottom: 2em;
    z-index: 1
}

@media (min-width: 48em) {
    .page-image {
        margin-top:-56.25px
    }
}

@media (min-width: 64em) {
    .page-image {
        margin-top:8px
    }
}

.page-image img {
    width: 100%
}

.page-image-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 0.25em 0.5em;
    color: #fff;
    font-size: 0.75rem;
    background: #000;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: 4px 0 10px 0
}

.page-image-caption>* {
    margin: 0;
    padding: 0
}

.page-image-caption a {
    color: #fff
}
