/* Header Page Image */
.post-header-container {
    width: 100%;
    text-align: center
}

.site-header-container img.sticker,.post-header-container img.sticker {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: -3em;
    margin-bottom: -7.5em
}

.site-header-container.has-cover,.post-header-container.has-cover {
    color: #fff;
    box-shadow: rgba(0,0,0,0.3) 0px 5px 15px;
    text-shadow: 0 3px 5px rgba(0,0,0,0.67) !important;
    background-position: 50% 50%;
    background-size: cover
}

.site-header-container.has-cover .title,.post-header-container.has-cover .title {
    font-size: 2em
}

@media screen and (min-width: 768px) {
    .site-header-container.has-cover .title,.post-header-container.has-cover .title {
        font-size:2.985984em
    }
}

.site-header-container.has-cover .subtitle,.site-header-container.has-cover .info,.post-header-container.has-cover .subtitle,.post-header-container.has-cover .info {
    font-size: 1.2em
}

.site-header-container .scrim,.post-header-container .scrim {
    padding: 3em 1em
}

.site-header-container .scrim.has-cover,.post-header-container .scrim.has-cover {
    background-color: rgba(0,0,20,0.5);
    padding: 6em 1em
}
/*Page Image Style*/
.markdown-body img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sesuaikan nilai bayangan sesuai preferensi Anda */
}

/* post-meta-data li fontawesome */
  .post-metadata li {
    margin-bottom: 8px; /* Anda dapat menyesuaikan nilai ini sesuai kebutuhan */
  }
