/* Header Page Image */
.post-header-container {
    width: 100%;
    text-align: center
}

.site-header-container img.sticker,.post-header-container img.sticker {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: -3em;
    margin-bottom: -7.5em
}

.site-header-container.has-cover,.post-header-container.has-cover {
    color: #fff;
    box-shadow: rgba(0,0,0,0.3) 0px 5px 15px;
    text-shadow: 0 3px 5px rgba(0,0,0,0.67) !important;
    background-position: 50% 50%;
    background-size: cover
}

.site-header-container.has-cover .title,.post-header-container.has-cover .title {
    font-size: 2em
}

@media screen and (min-width: 768px) {
    .site-header-container.has-cover .title,.post-header-container.has-cover .title {
        font-size:2.985984em
    }
    /* text title size on tag pages */ 
    .tag-entry .text-muted {
	font-size: 18px!important;
    }
}

.site-header-container.has-cover .subtitle,.site-header-container.has-cover .info,.post-header-container.has-cover .subtitle,.post-header-container.has-cover .info {
    font-size: 1.2em
}

.site-header-container .scrim,.post-header-container .scrim {
    padding: 3em 1em
}

.site-header-container .scrim.has-cover,.post-header-container .scrim.has-cover {
    background-color: rgba(0,0,20,0.5);
    padding: 6em 1em
}
/* selection content */
::selection {
    background-color: #ebd705;
    color: black;
}
::-moz-selection {
    background-color: #ebd705;
    color: black;
}
/* Image Caption */
.page-image {
    position: relative;
    text-align: center;
    margin-top: 0.5px;
    margin-bottom: 2em;
    z-index: 1
}

@media (min-width: 48em) {
    .page-image {
        margin-top:-56.25px
    }
}

@media (min-width: 64em) {
    .page-image {
        margin-top:8px
    }
}

.page-image img {
    width: 100%
}

.page-image-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 0.25em 0.5em;
    color: #fff;
    font-size: 0.75rem;
    background: #000;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: 4px 0 10px 0
}

.page-image-caption>* {
    margin: 0;
    padding: 0
}

.page-image-caption a {
    color: #fff
}
 /*disqus Ads block with CSS*/
 iframe[sandbox="allow-forms allow-popups allow-same-origin allow-scripts"]{display:none!important;}

@media screen and (min-width: 768px) {
    /* text title size on tag pages */ 
    .py-3 .tag-entry .text-muted {
	font-size: 18px!important;
    }
}
/*back to top tags*/
a.to-top.text-muted {
    float: right;
}
$dark-100: $dark;
$dark-300: #404040;
$dark-600: #242526;
$dark-900: #17191a;
$dark_btn_color: #E74C3C;
$text-white: #ffffff;

[data-theme="dark"] {
  body {
    background-color: $dark-900;
    color: $text-white;
  }

  // Code blocks & Syntax highlighting
  @import "native.scss";

  pre,
  code.highlighter-rouge {
    @extend .highlight;
    border: none;
  }

  .gist {
    filter: invert(90%) hue-rotate(180deg);
  }

  // Inputs
  input {
    background-color: $dark-300;
    border-color: $dark-100;
    color: $text-white;

    &::placeholder {
      color: rgba($text-white, 0.64);
    }

    &:focus {
      background-color: $dark-600;
      color: $text-white;
    }
  }

  // Navbar
  .navbar {
    background-color: $dark-600;
  }

  // Cards
  .card {
    background-color: $dark-600;

    &.border {
      .card-footer {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  // Tables
  table:not(.highlight) {
    td {
      border-color: $dark-600;
    }

    tr:nth-child(even) {
      background-color: $dark;
    }
  }

  // Lists
  .list-group-item-action {
    background-color: $dark-600;
    color: $text-white;

    &:hover,
    &:focus {
      background-color: darken($color: $dark-600, $amount: 3);
    }
  }

  /* Post */
  .post footer {
    text-decoration: none;
  }

  /* Timeline */
  .timeline-body .timeline-item:after {
    background-color: $dark-900;
  }

  /* Modal Pop Up Payment */
  .modal-content {
    background-color: #4e4e4e;
    color: $text-white;
  }

  /* Text Color Payment Page */
  .tcolor {
    color: $text-white;
  }

  /* Pagination Theme */
  .pagination-box-hit {
    border: 2px solid $dark_btn_color;
    background-color: $dark_btn_color;
  }

  .pagination-box-idle {
    border: 2px solid #333;
    color: $dark_btn_color;
  }

  .pagination-theme {
    a {
      &:hover {
        border: 2px solid $dark_btn_color;
        background-color: $dark_btn_color;
      }
    }
  }
  /* end of pagination theme */
  
  /* google translate dark theme  */
  .ct-language-dropdown {
      background-color: $dark-600;
    color: $text-white;
  }
  /* end of google translate dark theme */  
}

/* cv collection pages */
.card-header .font-weight-bold {
   background-color: $dark-600;
   color: #19456b!important;
}
