$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-medium: unquote('"\\e911"');
$icon-twitter-square: unquote('"\\f081"');
$icon-facebook-square: unquote('"\\f082"');
$icon-linkedin-square: unquote('"\\f08c"');
$icon-github: unquote('"\\f09b"');
$icon-envelope: unquote('"\\f0e0"');
$icon-youtube-play: unquote('"\\f16a"');
$icon-stack-overflow: unquote('"\\f16c"');
$icon-instagram: unquote('"\\f16d"');
$icon-tumblr-square: unquote('"\\f174"');
$icon-vimeo-square: unquote('"\\f194"');
$icon-language: unquote('"\\f1ab"');
$icon-behance-square: unquote('"\\f1b5"');
$icon-spotify: unquote('"\\f1bc"');
$icon-soundcloud: unquote('"\\f1be"');
$icon-paypal: unquote('"\\f1ed"');
$icon-whatsapp: unquote('"\\f232"');
$icon-medium1: unquote('"\\f23a"');
$icon-gitlab: unquote('"\\f296"');
$icon-telegram: unquote('"\\f2c6"');
$icon-home1: unquote('"\\e910"');
$icon-comments: unquote('"\\e90f"');
$icon-search: unquote('"\\e90e"');
$icon-book: unquote('"\\e90d"');
$icon-clock-o: unquote('"\\e90c"');
$icon-code: unquote('"\\e90b"');
$icon-eye: unquote('"\\e90a"');
$icon-calendar: unquote('"\\e908"');
$icon-tags: unquote('"\\e907"');
$icon-briefcase: unquote('"\\e905"');
$icon-pencil-square: unquote('"\\e904"');
$icon-user-circle-o: unquote('"\\e900"');
$icon-user: unquote('"\\e901"');
$icon-handshake-o: unquote('"\\e902"');
$icon-calendar1: unquote('"\\e909"');
$icon-tag-cord: unquote('"\\e906"');
$icon-home: unquote('"\\e903"');

