{% assign default_image = site.defaults[0].values.image %}
{% assign is_external = include.external-image | default: false %}

{% if page.url == '/blog/' %}
  {% if include.image %}
    {# Jika variabel image diatur, tampilkan gambarnya #}
    {% assign image_url = site.baseurl | append: '/assets/img/content/' | append: include.image %}
  {% elsif is_external %}
    {# Jika variabel external-image diatur, tampilkan gambarnya #}
    {% assign image_url = include.external-image | default: false %}
  {% elsif default_image and not is_external %}
    {# Jika default image diatur dan external image tidak diatur, tampilkan gambarnya #}
    {% assign image_url = default_image %}
  {% else %}
    {# Jika tidak ada gambar internal, eksternal, atau default, jangan tampilkan gambar #}
    {% assign image_url = nil %}
  {% endif %}
{% else %}
  {# Jika bukan halaman /blog/, jangan tampilkan gambar default #}
  {% assign image_url = default_image | default: nil %}
{% endif %}

{% if image_url %}
  <img class="feat-img" src="{{ image_url }}" alt="{{ include.alt | default: 'image representing a theme in this article' }}" title="{{ include.alt | default: 'image post' }}" {% if image_url == default_image %}style="display:none"{% endif %} />
{% endif %}
