<style>
.pager {
  list-style-type: none;
  margin: 15px;
  padding: 0;
  overflow: hidden;
}

.pager li {
  float: left;
}

.pager .next {
  float:right
}
.pager .disable a {
  border-color: #ccc;
  color: #808080;
}

@media (max-width: 424px) {
    .pager .btn {
        font-size: 13px;
        padding: 0.2rem;
    }
}
.separator {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #eeeeee;
}  
</style>
<div class="separator"></div>
<div class="pager">
  {% if page.previous %}
  <li>
    <a class="btn btn-outline-primary" href="{{ page.previous.url }}">Previous Post</a>
  </li>
  {% endif %}
  {% if page.next %}
  <li class="next">
    <a class="btn btn-outline-primary" href="{{ page.next.url }}">Next Post</a>
  </li>
  {% endif %}
</div>
<div class="separator"></div>
