{% assign words = post.content | number_of_words %}
{% assign time = words | divided_by: 180 %}

{% if time < 1 %}
  {% assign seconds = words | times: 0.3 | round %}
  {% assign time = '00:' | append: seconds %}
{% else %}
  {% assign minutes = time | floor %}
  {% assign seconds_remaining = words | modulo: 180 | times: 0.3 | round %}
  {% assign formatted_seconds = seconds_remaining | format: '%02d' %}
  {% assign time = minutes | append: ':' | append: formatted_seconds %}
{% endif %}

{% if post.language == 'chinese' %}
  <span class="icon-hourglass readingtime" style="margin-right:20px">阅读时间：{{ time }} {%if time > 1 %}mins{% else %}min{% endif %}</span>
  <span class="icon-book readingtime" >字数：{{ words }}</span>
{% else %}
  <span class="fa fa-clock-o fa-1x" style="margin-left:30px; display: block;"> {{ time }} minutes</span>
  <span class="fa fa-book fa-1x" style="margin-left:40px; display: block;"> {{ words }} words</span>
{% endif %}

<style>
  @media screen and (max-width: 768px) {
    .fa-clock-o, .fa-book {
      margin-left: 10px; /* Ubah sesuai kebutuhan Anda */
      display: inline-block;
    }
  }
</style>
