{% assign words = post.content | number_of_words %}
{% assign time = words | divided_by: 180 %}
{% if time < 1 %}
  {% assign seconds = words | times: 0.3 | round %}
  {% assign time = '00:' | append: seconds %}
{% else %}
  {% assign minutes = time | floor %}
  {% assign seconds_remaining = words | modulo: 180 | times: 0.3 | round %}
  {% assign formatted_seconds = seconds_remaining | format: '%02d' %}
  {% assign time = minutes | append: ':' | append: formatted_seconds %}
{% endif %}

    <div class="readingtime-meta">
	    <div>
			{% if post.language == 'chinese' %}
			<span class="icon-hourglass readingtime" style="margin-right:20px">阅读时间：{{ time }} {%if time > 1 %}mins{% else %}min{% endif %}</span>
			<span class="icon-book readingtime" >字数：{{words}}</span>
			{% else %}
			<span class="icon-clock readingtime" style="margin-right:20px">{{ time }}</span>
			<span class="icon-book-1 readingtime" > {{words}} words</span>
			{% endif %}
		</div>
	</div>
