{% include blog/search.html %}
{% assign date_format = site.date.format | default: "%b %-d, %Y" %}

{%- capture site_tags -%}
    {%- for tag in site.tags -%}
        {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
{%- endcapture -%}
{%- assign tags_list = site_tags | split:',' | sort -%}


<div class="signboard-meta">
{%- for tag in tags_list -%}
    <div class="signboard signboard-tag tag-label-orange">
    <a href="#{{- tag -}}" class="text-decoration-none no-underline" style="font-family: Raleway,Arial,sans-serif; font-size:14px"><i class="fas fa-tag" aria-hidden="true"></i>&nbsp;{{- tag -}}&nbsp;<span>{{site.tags[tag].size}}</span></a>
    </div>
{%- endfor -%}
</div>
<div class="py-2">
{%- for tag in tags_list -%}
    <h4 id="{{- tag -}}" class="signboard-meta">
        #&nbsp;{{- tag -}}&nbsp; 
        <li class="tag badge text-primary border border-primary">{{site.tags[tag].size}}</li>
    </h4> 
    <div class="py-3">
        {%- for post in site.tags[tag] -%}
            <div class="tag-entry">
                <div class="text-muted" style="font-size:14px">
                    <span class="fa fa-calendar"> <time datetime="{{- post.date | date_to_long_string -}}">{{- post.date | date_to_long_string -}}</time></span> <span><a href="{{ post.url | relative_url }}">{{- post.title | strip_html -}}</a></span>
                </div>
            </div>
        <a href="#top">
                            <small>back to top</small>
        </a>
        {%- endfor -%}
    </div>
    <hr class="bg-light">
{%- endfor -%}
</div>
