---
layout: page
---

<h1><b>{{ page.title }}</b></h1>
<p class="post-metadata text-muted">
  <i class="fa fa-calendar fa-1x"></i> {{ page.date | date_to_long_string }} -  
  <i class="fa fa-clock-o fa-1x"></i><b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%}
    Tags: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
      <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
    </a>
    {% endfor %}
  {%- endif -%}
  <br>
  <img style="margin: 5px 0px;" alt="Hits" src="https://hits.sh/{{ site.url | remove: 'https://' }}{{ site.baseurl }}{{ page.url }}.svg?style=flat-square&label=Views&color=708aea"/>
</p>
</p>
<!-- trakteer widget -->
<br>
<center>
<script type='text/javascript' src='/assets/js/trbtn.min.js'></script>
<script type='text/javascript'>
(function(){var trbtnId=trbtn.init('Dukung Saya Dengan Donasi','#1E86B6','/pay','https://cdn.trakteer.id/images/embed/trbtn-icon.png','40');trbtn.draw(trbtnId);})();
</script>
</center>
<!-- trakteer widget -->
<br>

{{ content }}

<!-- trakteer widget -->
<br>
<center>
<script type='text/javascript' src='/assets/js/trbtn.min.js'></script>
<script type='text/javascript'>
(function(){var trbtnId=trbtn.init('Dukung Saya Dengan Donasi','#1E86B6','/pay','https://cdn.trakteer.id/images/embed/trbtn-icon.png','40');trbtn.draw(trbtnId);})();
</script>
</center>
<!-- trakteer widget -->
<br>
<!-- Share widget -->
{% include blog/share-buttons.html %}

{% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %}
