---
layout: blog
---

<article>
<img data-pagefind-meta="image[src]" src="{{ page.thumbnail | prepend: site.baseurl }}" style="display:none" />
<h1><b>{{ page.title | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</b></h1>
<div class="separator"></div>
<div class="post post-metadata text-muted" style="margin-top: 8px;">
 <li class="icon-calendar1"></li> {{ page.date | date: "%A, %d %B %Y" }}  
 <li class="icon-clock-o" style="margin-left: 8px;"></li> <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b> 
 <li class="icon-book fa-1x kanan"> {{ words }} words</li>
  <br>

  {%- if page.tags != empty -%}
    Tags: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
     <li class="tag badge badge-pill text-primary border border-primary">{{ tag }}</li>
    </a>
    {% endfor %}
  {%- endif -%}
 <li class="icon-eye kanan"> <span id="busuanzi_value_page_pv" class="text-muted">loading..</span> views</li>
  <br>
<i class="icon-comments text-muted" style="color:#008c25"></i><span> <a class="text-muted" style="text-decoration:none !important; border-bottom:none !important;" href="#disqus_thread">Comments</a></span>
 {% include blog/audio.html %}
  </p>
</div>
<!-- trakteer widget -->
<br>
<center>
<script type='text/javascript' src='/assets/js/trbtn.min.js'></script>
<script type='text/javascript'>
(function(){var trbtnId=trbtn.init('Dukung Saya Dengan Donasi','#1E86B6','/pay','/assets/images/icons/trbtn-icon.png','40');trbtn.draw(trbtnId);})();
</script>
</center>
<!-- trakteer widget -->
<br>
 <!– call the featured-post-image.html template file –>
  {% include blog/post-featured-image.html image=page.image external-image=page.external-image alt=page.image-alt %}

<div id="post-body" class="post-body">
{{ content }}
</div>
<!-- trakteer widget -->
<br>
<center>
<script type='text/javascript' src='/assets/js/trbtn.min.js'></script>
<script type='text/javascript'>
(function(){var trbtnId=trbtn.init('Dukung Saya Dengan Donasi','#1E86B6','/pay','/assets/images/icons/trbtn-icon.png','40');trbtn.draw(trbtnId);})();
</script>
</center>
<!-- trakteer widget -->
<br>
<!-- Share widget -->
{% include blog/share-buttons.html %}
<!-- Tip -->
<div class="container">
<div class="tip-block">
      <p style="margin-top: 10px; margin-bottom: 6px;">Like this article? Consider leaving a</p> 
      <a href="/pay" target="_blank">
       Tip
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="1.5"></circle> <path d="M12 6V18" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path> <path d="M15 9.5C15 8.11929 13.6569 7 12 7C10.3431 7 9 8.11929 9 9.5C9 10.8807 10.3431 12 12 12C13.6569 12 15 13.1193 15 14.5C15 15.8807 13.6569 17 12 17C10.3431 17 9 15.8807 9 14.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
      </a>
    </div>
<!-- End of tip -->

<!-- Related Post -->
{%- if page.tags != empty -%}
 {% include blog/related-post.html %}
{%- endif -%}
 {% include blog/prev-next-post.html %}
{% if page.comments %}
<div class="pt-5">
{% if post.comments != 0 %} 
  {% include blog/disqus.html %}
 {% endif %}  
</div>
{% endif %}
</div>
</article>
